/* https://m.media-amazon.com/images/G/01/gno/sprites/nav-sprite-global-2x-reorg-privacy._CB587940754_.png */
*{
    margin: 0px ;
    font-family:Arial, Helvetica, sans-serif;
    border: border-box;/* so that border area will count in element's heigth and width. It is a good practice so that we can measure the space. If border area or padding increasses then automatically content size should decrease. It is a very good practice to use it in major projects.*/

}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;/*to make all contents at centre*/
    justify-content: space-evenly;
    
}
.nav-logo{
    height: 50px;
    width: 120px;/* so that border can display. Because it is using border box property so border size will be counted in content width and height*/
    overflow: hidden;/*it overhides all the extra part from this nav-logo box*/
    margin: 3px 10px;
}
.logo{
    height: 500px;
    width: 100%;
    background-image: url(https://m.media-amazon.com/images/G/01/gno/sprites/nav-sprite-global-2x-reorg-privacy._CB587940754_.png);
    background-position-y: -40px;
    background-size: 370px;
    background-repeat: no-repeat;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
    border-radius: 2px;
}
/* box-2 */

.address-first{
    font-size: 0.75rem;
    color: #cccccc;
    margin-left: 15px;
}
.address-second{
    font-size: 1rem;
    color: #ffffff;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-address{
    padding: 5px;
}
.nav-search:hover{
    border: 2px solid orange;
}
/* Box-3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    border-radius: 5px;
    width: 620px;
    height:40px;
}
.search-select{
    background-color: #e6e6e6;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
.input-search{
    width:100%; /* the size left after select and magnifying glass. all rest space is given to input */
    font-size: 1rem;
    border:none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd69;
    font-size: 1.2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0F1111;
}
/* box-4,5 */
.upper-part{
    font-size: 0.75rem;
}
.lower-part{
    font-size: 0.9rem;
}
.boxes{
    padding: 7px 9px;
}
/* box-6 */
.nav-cart{
    font-size: 0.9rem;
    font-weight: bolder;
    display: flex;
    align-items: baseline;
    padding: 5px;
}
.cart{
    margin-left: 2px;
    margin-top: 10px;
}
.mycart{
    font-size: 1.5rem;
}
/* lower-nav */
.lower-nav{
    height: 40px;
    background-color: #232f3e;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}
.select-icon{
    margin-left:40px;
    font-size: 1.2rem;
}
.all{
    margin-right: 20px;
    margin-left: 7px;
    font-weight: bolder;
}
.option{
    display: flex;
}
.option p{
    margin-right: 25px;

}

/* styling hero section */
.hero-section{
    background-image: url(kitchen\ image.jpg);
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: cover;
}
.signin-block{
    height: 40px;
    width:95%;
    background-color: #f5f6f6;
    color: #3b3d3d;
    font-size: 0.85rem;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 20px;
}
.signin-block a{
    color: #097689;
}
.lower-hero{
    background-color:#f2ebd7;
    width: 100%;

}
.box-part{
    display: flex;
    justify-content: space-around;
    background-color:#f2ebd7;
    flex-wrap: wrap;
}
.box{
    height: 400px;
    width:23%;
    background-color: white;
}
.box-4-layout{
    margin:10px 0px;
    display: flex;
    flex-wrap: wrap;
    
}
.heading{
    color:#0F1111;
    margin-top: 10px;
    margin-left: 10px;
}
.layout1{
    height:160px;
    width:48%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 2px;

}
.box-innerpart{
    background-size: cover;
    height: 120px;
    width: 120px;
    background-position-x: -30px;
}
.box-innerheading{
    font-size: 0.75rem;
    position: relative;
    height: 20px;
    width: 110px;
    padding-top: 5px;
}
.boxforone{
    margin:10px 0px;
    display: flex;
    flex-direction: column;
    
}
.imageforonepicbox{
    background-size: cover;
    height: 300px;
    width: 90%;
    display: flex;
    position: relative;
    left: 14px;
    top:5px;
    background-position-x: -50px;
}

.backtotop{
    background-color: #37475a;
    height: 50px;
    width:100%;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moreinfofooter{
    height:250px;
    color:white;
    background-color:#232f3e;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 50px;
}
.list{
    display: flex;
    flex-direction: column;
}
.list p{
    font-size: 0.95rem;
    padding-bottom: 10px;
    font-weight: bolder;
}
.list a{
    line-height: 25px;
    font-size: 0.85rem;
    color: #b9d7db;
}
.amazonfooterlogo{
    border-top: 2px solid #303b4a;
    height: 100px;
    background-color:#232f3e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.amazonfooterlogo button{
    margin : 10px;
    height:30px;
    width:10%;
    border: 1px solid #b9d7db;
    color: whitesmoke;
    border-radius: 2px;
    background-color:#232f3e;
}
